/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-09-2016, 19:47:08
    Author     : Diego
    */

/*#mapContent{
    position: relative !important;
    left: 10px !important;
    height: 450px !important;
    width: 450px !important;
    border-width: 3px !important;
    border-style: solid !important;
}
*/
.puntoMapa
{
    border-radius: 20px !important;
    height: 30px !important;
    width: 30px !important;
    background-color: red !important;
}
.puntoMapaDeLaMuerte
{
    border-radius: 20px !important;
    height: 30px !important;
    width: 30px !important;
    background-color: blue !important;
}
